* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2ed;
}




/* Main page */

.page {


    min-height: 100vh;

    padding: 40px;
}


/* Header */

.policy-header {
    margin-bottom: 30px;
}

.policy-header span {
    color: #0ea5e9;
    font-size: 13px;
    font-weight: bold;
}
iframe{
    width: 99vw;
}
.policy-header h1 {
    margin-top: 8px;
    margin-bottom: 8px;

    font-size: 30px;
    color: #1e293b;
}

.policy-header p {
    color: #64748b;
    font-size: 15px;
}


/* Policies */

#policies {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.policy {
    background-color: white;

    border: 1px solid #e2e8f0;

    border-radius: 12px;

    overflow: hidden;
}


/* Policy header */

.policy-header-row {
    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 20px;

    cursor: pointer;
}


/* Title */

.policy-title {
    display: flex;
    align-items: center;

    gap: 10px;
}

.policy-title i {
    color: #0ea5e9;
}

.policy-name {
    font-weight: bold;
    color: #1e293b;
}

.category {
    background-color: #e0f2fe;

    color: #0284c7;

    padding: 4px 10px;

    border-radius: 12px;

    font-size: 12px;
}


/* Date */

.policy-date {
    margin-top: 8px;

    font-size: 12px;

    color: #64748b;
}


/* Button */

.policy-button {
    border: none;

    background: none;

    cursor: pointer;

    font-size: 16px;

    color: #64748b;
}


/* Details */

.policy-details {
    display: none;

    padding: 0 20px 20px 20px;

    color: #64748b;

    line-height: 1.6;
}

.policy-details p {
    margin-bottom: 8px;
}


/* Open policy */

.policy.active .policy-details {
    display: block;
}

.policy.active .policy-button i {
    transform: rotate(180deg);
}


/* Mobile */

@media screen and (max-width: 768px) {

    .sidebar-frame {
        display: none;
    }

    .page {
        margin-left: 0;

        width: 100%;

        padding: 20px;
    }

}