*{
    box-sizing:border-box;
}

body{
    margin:0;
    display:flex;
    height:100vh;
    font-family:Arial, sans-serif;
}


/* LEFT */

.left{
    width:50%;
    background:#23243b;
    color:white;
    padding:50px;
    position:relative;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
}

.logo-icon{
    background:white;
    padding:8px;
    border-radius:7px;
}

.logo-icon span{
    color:#16a6b6;
    font-size:18px;
}

.logo b{
    font-size:20px;
}

.portal{
    margin-top:230px;
    color:#aaa;
    font-size:13px;
    letter-spacing:2px;
}

.left h1{
    font-size:55px;
    margin:200px 0 20px;
}

.description{
    color:#aaa;
    font-size:17px;
}

.bottom{
    position:absolute;
    bottom:40px;
    color:#aaa;
    font-size:11px;
}


/* RIGHT */

.right{
    width:50%;
    background:#f8f8f5;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:450px;
}

.login-box h2{
    font-size:45px;
    color:#18264b;
    margin-bottom:10px;
}

.login-box > p{
    color:#777;
}

.role{
    display:flex;
    gap:10px;
    margin:30px 0;
}

.role button{
    width:50%;
    padding:13px;
    border:1px solid #ddd;
    border-radius:25px;
    background:white;
    cursor:pointer;
}

.role button.active{
    background:#263b68;
    color:white;
}

label{
    display:block;
    margin:15px 0 7px;
    color:#555;
}

input{
    width:100%;
    padding:17px;
    border:1px solid #ddd;
    border-radius:15px;
    font-size:15px;
}

#login{
    width:100%;
    padding:17px;
    margin-top:25px;
    border:0;
    border-radius:30px;
    background:#4b5485;
    color:white;
    font-size:16px;
    cursor:pointer;
}

#message{
    color:red;
}

.left::before {
    content: "";
    position: absolute;

    width: 650px;
    height: 650px;

    border-radius: 50%;

    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.08);

    left: -300px;
    bottom: -350px;

    pointer-events: none;
}

.left::after {
    content: "";
    position: absolute;

    width: 500px;
    height: 500px;

    border-radius: 50%;

    border: 1px dashed rgba(255, 255, 255, 0.10);

    left: -250px;
    bottom: -200px;

    pointer-events: none;
}